@font-face {
    font-family: "FOT-Rodin";
    src: url("/fonts/FOT-Rodin/FOT-Rodin.otf");
}

@font-face {
    font-family: "Vampire Wars";
    src: url("/fonts/VampireWars/Vampire Wars.otf");
}

@font-face {
    font-family: "ITCAvantGardeStd-Bold";
    src: url("/fonts/ITC Avant Garde Gothic/ITCAvantGardeStd-Bold.ttf");
}

@font-face {
    font-family: "ITCAvantGardeStd-Bk";
    src: url("./fonts/ITC Avant Garde Gothic/ITCAvantGardeStd-Bk.ttf");
}

@font-face {
    font-family: "ITCAvantGarde";
    src: url("/fonts/ITC-Avant-Garde-Gothic/Normal/ITCAvantGardeStd-Bk.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ITCAvantGarde";
    src: url("/fonts/ITC-Avant-Garde-Gothic/Normal/ITCAvantGardeStd-Md.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "ITCAvantGarde";
    src: url("/fonts/ITC-Avant-Garde-Gothic/Normal/ITCAvantGardeStd-Demi.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ITCAvantGarde";
    src: url("/fonts/ITC-Avant-Garde-Gothic/Normal/ITCAvantGardeStd-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

