.right, .down {
    justify-content: end;
}

.center {
    justify-content: center;
}

.middle {
    align-items: center;
}

.d-none {
    display: none !important;
}


.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}


// .down {
//     justify-content: flex-end;
// }
