$text-alignment-values: center, justify, right;
$brand-color: #4cce4c;
$brand-black: #222222;
$link-color: #4c8dce;
$font-weight-values: 400, 500, 600, 700;
$colors-available: red, blue, yellow, green, black, white, pink;