@import "_variables";
@import "_keyframes";
@import "_mixin";
@import "_fonts";
@import "_menu";
@import "_miscelaneous";
@import "_classes";
@import "_tags";
@import "_mediaquery";

.testing {
    border: 1px dashed black;
    background-color: red;
}

%container {
    background-color: white;
    border-radius: 20px;
}

%section-divider {
    opacity: 50%;
}

%form-style {
    outline: none !important;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    &-fluid {
        position: relative;
        width: 100%;
        display: grid;
    }
}

.icon {
    display: inline;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-circle-down,
.icon-circle-right {
    margin-left: 0.5em;
}

.icon-star-full,
.icon-star-half,
.icon-star-empty,
.icon-circle-right {
    color: black;
}