@import "_variables";
@import "_keyframes";
@import "_mixin";
@import "_fonts";
@import "_menu";
@import "_miscelaneous";
@import "_classes";
@import "_tags";
@import "_mediaquery";

%testing {
    background-color: red !important;
    border: 1px dashed black !important;
}

.testing {
    @extend %testing;
}

%container {
    background-color: white;
    border-radius: 20px;
}

.container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    &-fluid {
        position: relative;
        width: 100%;
        display: grid;
    }
}

.icon {
    display: inline;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-circle-down,
.icon-circle-right {
    margin-left: 0.5em;
}

.icon-star-full,
.icon-star-half,
.icon-star-empty,
.icon-circle-right {
    color: black;
}